{% if user %}
    Welcome {{ user.first_name }}<br>
    <a href=" {% url 'logout' %}"> logout </a><br>
    <a href=" {% url 'blog_input' %}"> add blog </a><br>
    <a href=" {% url 'manage' %}">manage</a><br>
{% else %}
    <a href=" {% url 'login' %}"> login </a><br>
    <a href=" {% url 'signup' %}"> Sign up </a><br>
{% endif %}
<a href="{% url 'index' %}">Go to home page</a>

{% if message %}
    {{ message }}
{% endif %}

{% if blogs %}
    <h2>{{ user.author }}</h2>
    {{ user.author.rating }}
    {% for blog in blogs %}
        <li>
            <a href="{% url 'blog_view' blog.id %}">
                {{ blog.title }} by {{ blog.author}} posted on {{ blog.date_posted }}
            </a>
        </li>
    {% endfor %}
{% endif %}

