<!DOCTYPE html>

<html>

  {% comment %} head {% endcomment %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% comment %} Page title {% endcomment %}
    <title>{% block title %}{% endblock %}</title>
    
    {% comment %} icon {% endcomment %}
    {% load static %}
    <link rel="icon" href="{% static 'blog/img/icon.png' %}" sizes="32x32"/>

    {% comment %} bootstrap css files {% endcomment %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% comment %} provides block for adding custom css or javascript files {% endcomment %}
    {% block head %}{% endblock %}  
  </head>

  {% comment %} body {% endcomment %}
  <body>
    
    {% comment %} nav bar {% endcomment %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        {% comment %} icon {% endcomment %}
        <img
          align="left" src="{% static 'blog/img/logo.png' %}" 
          style="margin-top:5px;margin-bottom:5px;margin-right:10px;" 
          height="42" width="42" alt="logo">
        {% comment %} minimize icon design {% endcomment %}
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}" style="color:white;margin-right:30px;">Blog</a>
        </div>
        
        {% comment %} navbar items {% endcomment %}
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'index' %}">Home</a></li>
            {% if user %}
                <li><a href=" {% url 'blog_input' %}"> Write blog </a></li>
                <li><a href=" {% url 'manage' %}">Manage</a></li>
                <li><a href=" {% url 'logout' %}"> Logout </a></li>
            {% else %}
                <li><a href=" {% url 'login' %}"> Login </a></li>
                <li><a href=" {% url 'signup' %}"> Sign up </a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% comment %} navbar end {% endcomment %}

    <br><br><br>
    <div class="container">
      {% block body %}{% endblock %}
    </div>

  </body>
  
</html>
