{% if user %}
    Welcome {{ user.author }}<br>
    <a href=" {% url 'logout' %}"> logout </a><br>
    <a href=" {% url 'blog_input' %}"> add blog </a><br>
    <a href=" {% url 'manage' %}">manage</a><br>
{% else %}
    <a href=" {% url 'login' %}"> login </a><br>
    <a href=" {% url 'signup' %}"> Sign up </a><br>
{% endif %}
<a href="{% url 'index' %}">Go to home page</a>


{% if blog %}
    {% comment %} title {% endcomment %}
    <h2> {{ blog.title }} </h2>
    {% comment %} author {% endcomment %}
    <h4> by <a href="{% url 'author_posts' blog.author.id %}"> {{ blog.author }} </a> on {{ blog.date_posted }} </h4>
    
    {% comment %} tags {% endcomment %}
    {% if blog.tags.all %}
        <i>Tags:</i>
        {% for tag in blog.tags.all %}
            {{ tag }},
        {% endfor %}
    {% endif %}
    <br><br>

    {% comment %} body {% endcomment %}
    <ul>
        {% for content in body_text_list %}
            <li> {{ content }} </li>
        {% endfor %}
    </ul>


    {% comment %} add comments section {% endcomment %}
    {% if blog.comments.all %}
        <h4>Comments</h4>
        {% for comment in blog.comments.all %}
            <li>{{ comment.comment }} (by {{ comment.author }})</li>
        {% endfor %}
    {% endif %}
    <br>

    {% if user %}
        {% load static %}
        <script src="{% static 'blog/js/blog.js' %}"></script>
        <h4>Leave a comment</h4>
        <form method="post" id="commentForm" action="{% url 'add_comment' blog.id %}">
            {% csrf_token %}
            <textarea rows="3" name="comment" placeholder="write your comment here"></textarea><br>
            <input type="hidden" name="author_id" value="{{ user.author.id }}">
            <input type="submit" value="add comment">
        </form>
    {% else %}
        <a href=" {% url 'login' %}"> login </a> or
        <a href=" {% url 'signup' %}"> Sign up </a> to add comments
    {% endif %}

{% endif %}